body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    background-color: rgb(255, 250, 250);
    background-image: linear-gradient(to right, #e4f9f5, rgb(251, 250, 250), #e4f9f5);
}

p {
    line-height: 2;
  }

hr {
    border: 0;
    height: 1px;
    width: 40%;
    margin: 40px auto;
    background-image: linear-gradient(to right, #ecf8f5, #bde4e4, #ecf8f5);
}

h1 {
    margin: 20px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.256rem;
    font-weight: 900;
    color: #f16d94;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.0rem;
    font-weight: normal;
    color: #f16d94;
    padding-bottom: 10px;
    margin: 0 auto 0 auto;
  }

.top-container {
    background-color: #e4f9f5;
    background-image: linear-gradient(to right, rgb(137, 206, 230),  rgb(253, 251, 251), rgb(137, 206, 230));
    padding-top: 150px;
    position: relative;
}  

.top-container-heading {
    margin: 0 auto 80px auto;
}

@keyframes icon-animation {
    0%   {background-color:#e4f9f5; top:0px}
}

.header-icons {
    width: 10%;
    filter: drop-shadow(0 0 0.75rem rgb(233, 138, 157));
    animation-name: icon-animation;
    animation-duration: 4s;
    opacity: 0.9;
}

.header-icons:hover {
    opacity: 1.0;
}

.heros-img {
    border-radius: 100%;
    width: 35%;
    background-color: rgb(253, 251, 251);
}

.heart-img {
    position: absolute;
    top: 2%;
    left: 44%;
    margin-bottom: 30px;
}

.flask-img {
    position: absolute;
    right: 13%;
    top: 35%;
}

.microscope-img {
    position: absolute;
    right: 10%;
    top: 70%
}

.bag-img {
    position: absolute;
    left: 13%;
    top: 35%;
}

.sthetoscope-img {
    position: absolute;
    left: 10%;
    top: 70%;
}

.middle-container {
    margin: 100px 0;
}

.profile-img {
    width: 15%;
    margin-bottom: 30px;
}

.para {
    width: 35%;
    margin: 16px auto 0 auto;
}

.contact-para {
    margin-bottom: 50px;
}

.btn {
    background: rgb(127, 212, 240);
    background-image: -webkit-linear-gradient(top, rgb(127, 212, 240), rgb(127, 212, 240));
    background-image: -moz-linear-gradient(top, rgb(127, 212, 240), rgb(127, 212, 240));
    background-image: -ms-linear-gradient(top, rgb(127, 212, 240), rgb(127, 212, 240));
    background-image: -o-linear-gradient(top, rgb(127, 212, 240), rgb(127, 212, 240));
    background-image: linear-gradient(to bottom, rgb(127, 212, 240), rgb(127, 212, 240));
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #31d2ee;
    background-image: -webkit-linear-gradient(top, #31d2ee, #56bae2);
    background-image: -moz-linear-gradient(top, #31d2ee, #56bae2);
    background-image: -ms-linear-gradient(top, #31d2ee, #56bae2);
    background-image: -o-linear-gradient(top, #31d2ee, #56bae2);
    background-image: linear-gradient(to bottom, #31d2ee, #56bae2);
    text-decoration: none;
  }

.bottom-container {
    background-color: rgb(137, 206, 230);
    position: relative;
    padding: 50px 0 20px;
}  

.footer-link {
    color: #299cd1;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
  
.footer-link:hover {
    color: #eaf6f6;
}
  
.copyright {
    color: #ecfafa;
    font-size: 0.8rem;
    padding: 30px 0 0 0;
    margin-bottom: 0;
}

.last-para {
    margin: 0 auto;
    color: #ecfafa;
    font-size: 0.6rem;
}

.flaticon-link {
    color: #017ba3;
    font-family: "Montserrat", sans-serif;
    margin: 10px 0;
    text-decoration: none;
}